### Trying to solve Task 0 now!

In [77]:
import pandas as pd

trainUrl = 'https://raw.githubusercontent.com/Toroto006/iml2021/main/task0/train.csv?token=AH44KNSUKGPD3PLAX43FCPDAKC3TS'
testUrl = 'https://raw.githubusercontent.com/Toroto006/iml2021/main/task0/test.csv?token=AH44KNVNHVVZIUTW6FHZC7DAKC4BG'

trainPD = pd.read_csv(trainUrl, index_col="Id")
trainPD.head()

             y           x1           x2  ...           x8           x9          x10
Id                                        ...
0   738.023171  1764.052346   400.157208  ...  -151.357208  -103.218852   410.598502
1   400.646015   144.043571  1454.273507  ...  -205.158264   313.067702  -854.095739
2   189.900156 -2552.989816   653.618595  ...  -187.183850  1532.779214  1469.358770
3   -78.399449   154.947426   378.162520  ...  1202.379849  -387.326817  -302.302751
4  -547.373531 -1048.552965 -1420.017937  ...   777.490356 -1613.897848  -212.740280

[5 rows x 11 columns]

In [78]:
testPD = pd.read_csv(testUrl, index_col="Id")
testPD.head()

                x1           x2  ...           x9          x10
Id                               ...
10000  -483.797492  1288.057065  ...  1327.229655  -448.695446
10001  -316.407305    30.830556  ...  1372.340221  2062.561842
10002 -2448.558997  -561.988408  ...  -562.413197  -841.602015
10003  -942.120025   945.373015  ...   555.461973 -1696.076948
10004  1752.366157  -597.550816  ...  -310.299496   362.212675

[5 rows x 10 columns]

We now have the data as pd objects and can start working with them.

As we only have to "train" for a average in this task0, let's do so directly:

In [79]:
import numpy as np

def calcAvg(xes):
  return np.average(xes)

Test if it is actually the case, or if we have to do something else, i.e. really train.

In [80]:
hadErr = False
eps = 1e-12
for index, row in trainPD.iterrows():
  error = calcAvg(row['x1':'x10'])-row['y']
  if error > eps:
    hadError = True
    print(f"Something is not okay here: \n%s" % row)

if not hadErr:
  print("Nothing is farther off then %d" % eps)

Nothing is farther off then 0

We see it looks good, let's calculate the answer data.

In [81]:
res = pd.DataFrame()
for ind, row in testPD.iterrows():
  avg = calcAvg(row['x1':'x10'])
  #print(f"avg is %s for %i" % (avg, ind))
  rowA = pd.DataFrame([[ind, avg]], columns=['Id', 'y'])
  #print(rowA)
  res = res.append(rowA)

print(res.head())

      Id           y
0  10000  -66.002423
0  10001  451.406504
0  10002 -461.676417
0  10003   40.501209
0  10004 -126.744722

In [82]:
res.to_csv("testOut.csv", index=False)